/* Footer */
.footer {
  text-align: center;
  padding: 5rem;
  background: #111827;
  color: var(--text-color-secondary);
  margin-top: 4rem;
  border-top: 1px solid var(--border-color);
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 2rem;
    padding: 1rem 1rem;
  }
}
