<section class="login">
  <div class="login__image">
    <div class="login__image-container">
      <div class="login__text">
        <h2 class="login__title">Bienvenido a Smart Point</h2>
      </div>
    </div>
  </div>

  <div class="login__form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form-container" novalidate>
      <div class="login__form-group login__container-title">
        <p class="login__subtitle">Inicia sesión para continuar</p>
      </div>

      <div class="login__form-group">
        <div class="login__floating-label">
          <input
            type="email"
            id="login-email"
            class="login__input"
            formControlName="email"
            placeholder=" "
            [class.invalid]="email?.invalid && (email?.dirty || email?.touched)"
          />
          <label for="login-email" class="login__label">Correo Electrónico</label>
        </div>
        @if (email?.invalid && (email?.dirty || email?.touched)) {
          <div class="login__error">
            @if (email?.errors?.['required']) {
              <small>El correo es obligatorio.</small>
            }
            @else if (email?.errors?.['pattern']) {
              <small>Ingresa un correo válido (ej. usuario@dominio.com).</small>
            }
          </div>
        }
      </div>

      <div class="login__form-group">
        <div class="login__floating-label">
          <input
            type="password"
            id="login-password"
            class="login__input"
            formControlName="password"
            placeholder=" "
            [class.invalid]="password?.invalid && (password?.dirty || password?.touched)"
          />
          <label for="login-password" class="login__label">Contraseña</label>
        </div>
        @if (password?.invalid && (password?.dirty || password?.touched)) {
          <div class="login__error">
            @if (password?.errors?.['required']) {
              <small>La contraseña es obligatoria.</small>
            }
            @else if (password?.errors?.['minlength']) {
              <small>
                La contraseña debe tener al menos {{ password?.errors?.['minlength'].requiredLength }} caracteres.
              </small>
            }
          </div>
        }
      </div>

      <button
        type="submit"
        class="login__button"
        [disabled]="loginForm.invalid"
      >
        Ingresar
      </button>

      <div class="login__forgot">
        <a href="/forgot-password" class="login__forgot-link">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
  </div>
</section>